src/main/resources/customer.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="CustomerListDto" type="CustomerListDto"/>
    <xs:complexType name="CustomerDto">
        <xs:sequence>
            <xs:element type="xs:string" name="firstName" minOccurs="0"/>
            <xs:element type="xs:string" name="lastName" minOccurs="0"/>
            <xs:element type="xs:string" name="customerUrl" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CustomerListDto">
        <xs:sequence>
            <xs:element type="CustomerDto" name="customers" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>